  <div class="wrapper">
    <div class="large-card">
      <div class="header">
        <h1><%= @flat.name %></h1>
        <hr>
        <h2><%= @flat.address %></h2>
      </div>
      <hr>
      <div class="buttons">
        <%= link_to "Edit flat", edit_flat_path(@flat) %>
        <%= link_to 'Delete',
        flat_path(@flat),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
        <%= link_to "Go back", flats_path  %>
      </div>
    </div>
  </div>
